<div class="card">
  <div class="card-header">
    <h5 class="card-title">{{userKey || text}}
      <button type="button" class="align-right close justify-content-end" aria-label="Close" (click)="deleteChild(text)">
        <span aria-hidden="true">&times;</span>
      </button>
    </h5>
  </div>
  <div class="card-block">
    <p class="card-text">{{userkey||text}}</p>
    <p class="card-text">{{num}}</p>
    <input class="form-control" placeholder="usertypes" [(ngModel)]="userkey">

  </div>
</div>